# data science requirements
# torchvision==0.12.0
# torch==1.11.0
pytorch_lightning==1.6.4
transformers==4.18.0
datasets==2.3.2
rouge_score==0.0.4
sentencepiece==0.1.96

# for metrics reporting/plotting
mlflow==2.18.0
azureml-mlflow==1.57.0
# matplotlib==3.5.2
# tqdm==4.64.0
psutil==6.1.0

# for unit testing
pytest==8.3.3

# for azure ml SDK v2
azure-ai-ml==1.21.1
azure-common==1.1.28
azure-core==1.32.0
azure-identity==1.19.0
azure-mgmt-core==1.5.0
azure-storage-blob==12.23.1
azure-storage-file-datalake==12.17.0
azure-storage-file-share==12.18.1