# data science requirements
# torchvision==0.12.0
# torch==1.11.0
pytorch_lightning==1.6.4
transformers==4.18.0
datasets==2.3.2
rouge_score==0.0.4
sentencepiece==0.1.96

# for metrics reporting/plotting
mlflow==2.2.1
azureml-mlflow==1.41.0
# matplotlib==3.5.2
# tqdm==4.64.0
psutil==5.9.0

# for unit testing
pytest==7.1.2

# for azure ml SDK v2
azure-ai-ml==1.1.0
azure-common==1.1.28
azure-core==1.26.1
azure-identity==1.10.0
azure-mgmt-core==1.3.0 
azure-storage-blob==12.14.1
azure-storage-file-datalake==12.9.1
azure-storage-file-share==12.7.0