# data science requirements
# torchvision==0.12.0
# torch==1.11.0
transformers==4.18.0

# for metrics reporting/plotting
mlflow==1.25.1
azureml-defaults==1.41.0
azureml-telemetry==1.41.0
azureml-mlflow==1.41.0

# inferencing support
inference-schema[numpy-support]==1.3.0
applicationinsights==0.11.10
