# NOTE: install these requirements to run the unit tests

# CV packages
torchvision==0.12.0
torch==1.13.1
transformers==4.18.0

# for metrics reporting/plotting
mlflow==2.2.1
azureml-mlflow==1.41.0
matplotlib==3.5.2
tqdm==4.64.0
psutil==5.9.0

# for unit testing
pytest==7.1.2
pytest-cov==2.12.1

# Fix: force protobuf downgrade to avoid exception
protobuf==3.20.2
