 # for local testing (cpu)
torchvision==0.12.0
torch==1.13.1
transformers==4.18.0

# for metrics reporting/plotting
mlflow==2.18.0
azureml-mlflow==1.57.0
matplotlib==3.9.2
tqdm==4.67.0
psutil==6.1.0

# for unit testing
pytest==8.3.3
